#contenedor{
    background-color: grey;
    width: 80%;
    margin: 0 auto;
}

.verde{
    background-color: greenyellow;
    width: 70%;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;

}

.celeste{
    background-color: lightblue;
    width: 70%;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.amarillo{
    background-color: yellow;
    width: 70%;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
}